
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Here is your new password at Phoenix Auction Site, <%=h @username %></h1>
    <p>
      As you forgot your password, here is your new password at Phoenix Auction Site. <br/>
      Your username is <%= @username %>. Your new password is <%= @pass %>. Please login and change it to something more memorable.
      To login to the site, just follow this link: <%= url_for(:host => "Phoenix Auction.com", :controller => "users", :action => "login") %>
    </p>
    <p>Thanks for joining us and have a great day!</p>
  </body>
</html>