/* ----------------------------------------------------------------------------------------------------------

    This website template was downloaded from http://www.nuviotemplates.com - visit us for more templates

    Structure:
    display; position; float; z-index; overflow; width; height; margin; padding; border; background; align; font;

    Content:
    
        1) HTML tags, reset
        2) Universal styles (display, float, margin, text-align...)
        3) Generally HTML styles (table, ul, dl...)
        4) Layout
        
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags, reset
---------------------------------------------------------------------------------------------------------- */

* {margin:0; padding:0;}
body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}
body {font:0.8em/1.5 "arial",sans-serif; text-align:center;}

h1, h2, h3, h4, h5, h6 {margin:15px 0 10px 0;}
h1 {font-size:180%;}
h2 {font-size:160%;}
h3 {font-size:140%;}
h4 {font-size:120%;}
h5 {font-size:100%;}

p, table, ul, ol, dl, fieldset {margin:15px 0;}

table {border-collapse:collapse; border-spacing:0; font-size:100%;}
th {text-align:center; font-weight:bold;}
th, td {padding:3px 7px;}

ul, ol {margin-left:30px;}
ul ul, ol ol {margin:0; margin-left:20px;}
ol {list-style-type:decimal;}
li {display:list-item;}

dt {font-weight:bold;}
dd {margin-left:30px;}

fieldset {position:relative; padding:10px;}
legend {position:absolute; top:-1em; margin:0; padding:5px 10px; font-size:100%; font-weight:bold;}

/* ----------------------------------------------------------------------------------------------------------
2) Universal styles (display, float, margin, text-align...)
---------------------------------------------------------------------------------------------------------- */

.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}

.relative {position:relative;}

.clear {clear:both;}

.f-left {float:left !important;} img.f-left {float:left; margin-right:10px;}
.f-right {float:right !important;} img.f-right {float:right; margin-left:10px;}

.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}

.va-top {vertical-align:top;}
.va-middle {vertical-align:middle;}
.va-bottom {vertical-align:bottom;}

.nom {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}

.noscreen {display:none;}

    .bigger {font-size:110%;}
    .smaller {font-size:85%;}

/* ----------------------------------------------------------------------------------------------------------
3) Generally HTML styles (table, ul, dl...)
---------------------------------------------------------------------------------------------------------- */

ul.ul-style01 {margin:15px 0 15px 20px; list-style:none;}
ul.ul-style01 li {padding-left:12px; background:url("../design/ul-style01.gif") 0 5px no-repeat;}
ul.ul-style01 ul {margin:0; list-style:none;}
ul.ul-style01 ul li {padding-left:12px; background:url("../design/ul-style01-sub.gif") 0 5px no-repeat;}

/* ----------------------------------------------------------------------------------------------------------
4) LAYOUT
---------------------------------------------------------------------------------------------------------- */

#main {width:960px; margin:0 auto; text-align:left;}

	#header {position:relative; padding:50px 20px 10px 20px; background:url("../design/header.gif") 0 0 repeat-y; overflow:hidden;}

        #logo {float:right; margin:0; font:normal 260%/1.4 "arial",sans-serif; letter-spacing:-1px;}
        #logo a {text-decoration:none;}
        
        #url {position:absolute; left:20px; bottom:20px; margin:0;}

    #cols {clear:both; background:url("../design/aside.gif") 0 0 repeat-y;}

    	#content {float:right; width:700px; overflow:hidden;}
    	
            #slogan {padding:10px 20px; text-align:right;}
            
            #content h1 {margin:20px 0 0 0; padding-left:20px; font-size:180%; letter-spacing:-1px;}
            #content h2, #content h3, #content h4 {margin:15px 0 0 0; padding:5px 10px; background:url("../design/hx.gif"); font-size:150%; letter-spacing:-1px;}
            #content h3, #content h4 {font-size:120%;}

            #content #perex {margin:0; padding:15px 5px;}           
            #content .boxes {padding:10px; border-left:0 !important; border-right:0 !important;}
            #content .boxes p {margin:0;}
            #content .input-submit {padding:2px; font:normal 100%/1.2 "arial",sans-serif;}
               	   
            #content-in {padding:5px 20px 20px 20px;}
            #content-in p {text-align:justify;}

        #aside {float:left; width:260px;}
    	#aside-in {padding:39px 0 300px 15px; overflow:hidden;}
    	
    	   #search {padding:15px; text-align:center;}
    	   #search #search-input {width:140px; padding:3px; font:normal 100%/1.2 "arial",sans-serif;}
    	   #search #search-submit {padding:2px; font:normal 100%/1.2 "arial",sans-serif;}
    	   
    	   #nav {margin:15px 0; padding:0; list-style:none;}
    	   #nav li {display:inline; margin:0; padding:0;}
    	   #nav li a {display:block; padding:3px 10px 3px 15px; background:url("../design/nav-link.gif") 0 50% no-repeat; text-decoration:none;}
    	   #nav li#nav-active a {background:url("../design/nav-active.gif") 0 50% no-repeat; font-weight:bold;}

	#footer {clear:both; padding:20px;}
    #footer p {margin:0;}	
