/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-07-16, 19:25 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:

        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background-color:#ddddd4; color:#000}

a {color:#ff7f00;}
a:hover {color:#ff5f00;}

h3.title {border-bottom:1px solid #E1E1D9; color:#000;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {background-color:#FFF;}

#header {background-color:#FF9F00; color:#FFF;}
#header a {color:#FFF;}

#tray {background-color:#2f2f2f; color:#FFF;}
#tray a {color:#FFF;}
#tray li#tray-active a {color:#ffe680;}

.nav a {border-top:1px solid #e5e5e5; background-color:#d0d0d0 !important; color:#000 !important;}
.nav #nav-active a {background-color:#FF9F00 !important; color:#FFF !important;}
.nav #nav-active ul li a {border-top:1px solid #525252; background-color:#2f2f2f !important; color:#ffe680 !important;}

#search {border-top:1px solid #f2f2f2; background-color:#d0d0d0;}
#search-input {background:#FFF;}
#search-submit {background:#2F2F2F; color:#FFF;}

#footer, #footer a {color:#323232;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#topstory-top, #topstory {background-color:#FFEFC6;}
#topstory-desc .info, #topstory-desc .info a, .article .article-desc .info, .article .article-desc .info a {color:#5F5F5F;}
#topstory-desc .info a:hover, .article .article-desc .info a:hover {color:#2F2F2F;}
#topstory-desc h2 a {color:#0c7cce;}
#topstory-desc h2 a:hover {color:#0A5F9E;}
#topstory-list {border-top:1px solid #FFF6DF; background-color:#FFE192;}

.box-01-top, .box-01-top-b {background-color:#DDDDD4; color:#000;}
.box-01-top-b .f-right {color:#8A8A6B;}
.box-01 .bg {border-top:1px solid #DBDBD2; border-bottom:1px solid #DBDBD2; background:#EFEFEC;}

    .news dt {color:#2878CB;}
    .news dd span {color:#5F5F5F;}

.box-02-top, .box-02-top-b {background-color:#D7ECF4; color:#000;}
.box-02 a {color:#2878CB;}
.box-02 a:hover {color:#0A5F9E;}

    .mostreaded span {color:#5F5F5F;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.rss {color:#000;}